body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul,ol,li,p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.container {
    max-width: 1460px;
    height: auto;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 118px;
    font-size: 36px;
    font-weight: 600;
    color: white;
    background-color: #3498da;
}

nav {
    display: flex;
    justify-content: center;
    height: 66px;
    background-color: #2b3e4f;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
}

.content-box {
    display: flex;
    align-content: center;
    gap: 10px;
    padding: 36px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 500;
}

span {
    font-weight: 800;
}

.sidebar {
    width: 366px;
    background-color: #ebf0f0;
    padding: 24px;
    font-size: 24px;
    font-weight: 500;
}

footer {
    background-color: #2b3e4f;
    height: 80px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}