* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefbe5;
}

ul,
li {
    list-style: none;
}

h2 {
    font-size: 36px;
    color: #283618;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.content {
    width: 420px;
    height: auto;
    padding: 24px;
    background-color: white;
    border: 2px dashed orange;
    border-radius: 10px;
}

ul {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

li {
    width: 360px;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

li:hover {
    background-color: #f4a261 !important;
}

input {
    margin-left: 6px;
}

input[type="checkbox"] {
    accent-color: rgb(2, 168, 2);
    margin-right: 6px;
}

.important {
    font-weight: bold;
}

.evening{
    background-color: #d9f7f6;
}

p {
    font-size: 20px;
    color: #6a994e;
}

label:nth-child(odd) li {
    background-color: #fff1cf;
}

label:first-child li {
    border-top: 2px solid #bd6e27;
}

label:last-child li {
    border-bottom: 2px solid #bd6e27;
}

label:has(input:checked) li {
    background-color: #5bfa70 !important;
}
