* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 94px;
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    padding: 54px 88px;
    color: #fff;
}

.seat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-bottom: 40px;
}

.seats {
    width: 508px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.seat {
    width: 40px;
    height: 36px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 6px;
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.active {
    color: #fff;
    background-color: #1DE782;
    transition: all 0.2s;
}

.x-seat {
    width: 508px;
    height: 48px;
    border-radius: 16px;
    background-color: #fff;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

footer {
    color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
    border: 1px solid #fff;
    padding: 20px 72px;
}

.btn-place {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.title {
    line-height: 12px;
    font-size: 18px;
}

.info {
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.text {
    font-size: 28px;
    font-weight: bold;
}


.btn {
    padding: 16px 10px;
    font-size: 20px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-weight: 600;
    cursor: pointer;
}

.back-btn {
    width: 219px;
    border: 1px solid #fff;
}

.payment {
    width: 279px;
    background-color: #1DE782;
}