<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/frontend/style/home.css">
    <title>Movie Ticket Booking</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo-container"><img src="/frontend/images/logo.png" alt=""></div>
            <div class="nav-container">
                <a href="/frontend/templates/myticket.html" class="my-ticket">My Ticket</a>
                <a href="/frontend/templates/home.html" class="logout-btn">Logout</a>
            </div>
        </header>
        <div class="list-film">
            <div class="title">now showing</div>
            <div class="films-menu">
                <a href="./info.html?movie=Spider-Man: Across the Spider-Verse&image=/frontend/images/film-1.png" class="item">
                    <div class="banner"><img src="/frontend/images/film-1.png" alt=""></div>
                    <div class="film-name">Spider-Man</div>
                </a>
                <a href="./info.html?movie=Inception&image=/frontend/images/film-2.png" class="item">
                    <div class="banner"><img src="/frontend/images/film-2.png" alt=""></div>
                    <div class="film-name">Inception</div>
                </a>
                <a href="./info.html?movie=Avengers: Endgame&image=/frontend/images/film-3.png" class="item">
                    <div class="banner"><img src="/frontend/images/film-3.png" alt=""></div>
                    <div class="film-name">Avengers: Endgame</div>
                </a>
                <a href="./info.html?movie=Interstellar&image=/frontend/images/film-4.png" class="item">
                    <div class="banner"><img src="/frontend/images/film-4.png" alt=""></div>
                    <div class="film-name">Interstellar</div>
                </a>
                <a href="./info.html?movie=The Dark Knight&image=/frontend/images/film-5.png" class="item">
                    <div class="banner"><img src="/frontend/images/film-5.png" alt=""></div>
                    <div class="film-name">The Dark Knight</div>
                </a>
                <a href="./info.html?movie=The Matrix&image=/frontend/images/film-6.png" class="item">
                    <div class="banner"><img src="/frontend/images/film-6.png" alt=""></div>
                    <div class="film-name">The Matrix</div>
                </a>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>

</html>