<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="../style/info.css">
    <title>Movie Ticket Booking</title>
</head>

<style>
    body {
        background-image: url(/images/bg.png.png);
    }
</style>

<body>
    <div class="container">
        <header>
            <div class="logo-container"><a href="/home"><img src="/images/logo.png" alt=""></a></div>
            <a href="/" class="logout-btn">Logout</a>
        </header>

        <div class="movie">
            <div class="info">
                <div class="theater" id="theater">
                    <div class="title">Theater</div>
                    <ul class="address">
                        <li><i class="fa-solid fa-location-dot"></i>Bukit Bintang</li>
                        <li><i class="fa-solid fa-location-dot"></i>Putrajaye</li>
                        <li><i class="fa-solid fa-location-dot"></i>KB Mall</li>
                    </ul>
                </div>
                <div class="date" id="date">
                    <div class="title">Date</div>
                    <div class="date-list">
                        <li>
                            <p class="month">22 Oct</p>
                            <p class="day" id="day">Mon</p>
                        </li>
                        <li>
                            <p class="month">11 Jan</p>
                            <p class="day" id="day">Tues</p>
                        </li>
                        <li>
                            <p class="month">24 Oct</p>
                            <p class="day" id="day">Wed</p>
                        </li>
                        <li>
                            <p class="month">14 Feb</p>
                            <p class="day" id="day">Thurs</p>
                        </li>
                        <li>
                            <p class="month">2 Dec</p>
                            <p class="day" id="day">Fri</p>
                        </li>
                    </div>
                </div>
                <div class="time" id="time">
                    <div class="title">Time</div>
                    <div class="time-list">
                        <li>10:10</li>
                        <li>10:40</li>
                        <li>11:10</li>
                        <li>11:40</li>
                        <li>12:10</li>
                        <li>12:40</li>
                        <li>13:10</li>
                        <li>13:40</li>
                        <li>14:10</li>
                        <li>14:40</li>
                        <li>15:10</li>
                        <li>15:40</li>
                        <li>16:10</li>
                        <li>16:40</li>
                        <li>17:10</li>
                    </div>
                </div>
            </div>
            <div class="banner-film">
                <div class="image-container">
                    <img src="" alt="" id="movie-image">
                </div>
                <div class="box">
                    <div class="name" id="movie-name">SPIDERMAN ACROSS THE SPIDERVERSE</div>
                    <p>Movie description here...</p>
                    <div class="duration">Duration <span>2h30m</span></div>
                    <div class="type">Type <span>Catoon</span></div>
                </div>
            </div>
        </div>

        <div class="ticket">
            <div class="ticket-container">
                <div class="address-pick" id="address-pick"></div>
                <div class="date-pick" id="date-pick">
                    <div class="day-pick" id="day-pick"></div>
                    <div class="time-pick" id="time-pick"></div>
                </div>
                <p>*Seat selection can be done after this</p>

                <div class="btn" id="btn">Proceed</div>
            </div>
        </div>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const movieName = urlParams.get('movie');
        const movieImage = urlParams.get('image');

        fetch('/api/movies', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                const bannerFilm = document.querySelector('.banner-film');
                data = data.find(movie => movie.title === movieName);
                bannerFilm.innerHTML = `
                    <div class="image-container">
                        <img src="${data.image_url}" alt="" id="movie-image">
                    </div>
                    <div class="box">
                        <div class="name" id="movie-name">${data.title}</div>
                        <p>${data.description}</p>
                        <div class="duration">Duration <span>${data.duration_minutes}</span></div>
                        <div class="type">Type
                            <span>${data.genre}</span>
                        </div>
                    </div>`; 

            })
            .catch(error => console.error('Error fetching movies:', error));

        var isTheaterCheck = false;
        var isDateCheck = false;
        var isTimeCheck = false;

        document.getElementById('theater').querySelectorAll('li').forEach(item => {
            item.addEventListener('click', function () {

                document.getElementById('theater').querySelectorAll('li').forEach(e => { e.classList.remove('active') })

                this.classList.toggle('active')

                document.getElementById('address-pick').textContent = this.textContent;

                isTheaterCheck = true;
            })
        })

        document.getElementById('date').querySelectorAll('li').forEach(item => {
            item.addEventListener('click', function () {

                document.getElementById('date').querySelectorAll('li').forEach(e => { e.classList.remove('active') })

                this.classList.toggle('active')

                const monthElement = this.querySelector('.month');
                const monthText = monthElement.textContent.trim();
                const day = monthText.split(' ')[0];
                const monthAbbr = monthText.split(' ')[1];
                const dayElement = this.querySelector('.day').textContent.trim();

                var fullDay = solveDate(day, monthAbbr)

                document.getElementById('day-pick').textContent = `${dayElement}, ${fullDay[0]} ${fullDay[1]} ${fullDay[2]}`

                isDateCheck = true;
            })
        })

        document.getElementById('time').querySelectorAll('li').forEach(item => {
            item.addEventListener('click', function () {

                document.getElementById('time').querySelectorAll('li').forEach(e => { e.classList.remove('active') })

                this.classList.toggle('active')

                document.getElementById('time-pick').textContent = this.textContent;

                isTimeCheck = true;
            })
        })

        function solveDate(day, month) {
            switch (day) {
                case "Mon":
                    day = 'Monday';
                    break;
                case "Tues":
                    day = 'Tuesday';
                    break;
                case "Wed":
                    day = 'Wednesday';
                    break;
                case "Thurs":
                    day = 'Thursday';
                    break;
                case "Fri":
                    day = 'Friday';
                    break;
                case "Sat":
                    day = 'Saturday';
                    break;
                case "Sun":
                    day = 'Sunday';
                    break;
            }

            switch (month) {
                case "Jan":
                    month = "January";
                    break;
                case "Feb":
                    month = "February";
                    break;
                case "Mar":
                    month = "March";
                    break;
                case "Apr":
                    month = "April";
                    break;
                case "May":
                    month = "May";
                    break;
                case "Jun":
                    month = "June";
                    break;
                case "Jul":
                    month = "July";
                    break;
                case "Aug":
                    month = "August";
                    break;
                case "Sep":
                    month = "September";
                    break;
                case "Oct":
                    month = "October";
                    break;
                case "Nov":
                    month = "November";
                    break;
                case "Dec":
                    month = "December";
                    break;
            }

            var year = new Date()
            return [day, month, year.getFullYear()]
        }

        document.getElementById('btn').addEventListener('click', function () {
            if (isTheaterCheck && isDateCheck && isTimeCheck) {
                const theater = document.getElementById('address-pick').textContent;
                const date = document.getElementById('day-pick').textContent;
                const time = document.getElementById('time-pick').textContent;
                const movie = movieName;
                const image = movieImage;
                window.location.href = `seat.html?theater=${encodeURIComponent(theater)}&date=${encodeURIComponent(date)}&time=${encodeURIComponent(time)}&movie=${encodeURIComponent(movie)}&image=${encodeURIComponent(image)}`;
                return
            } else {
                alert('Thiếu thông tin')
            }
        })
    </script>
</body>

</html>