<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/login.css">
    <title>Movie Ticket Booking</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="title">Login to your account</div>
            <form>
                <label for="">
                    <div class="input-text">Email</div>
                    <input type="email" placeholder="Enter your email">
                </label>
                <label for="">
                    <div class="input-text">Password</div>
                    <input type="password" placeholder="Enter your password">
                </label>

                <a href="home2.html" class="login-btn">Login Now</a>
                <p class="regis">Don't Have An Account ? <span><a class="regis-link" href="register.html">Register Here</a></span></p>

                </div>
            </form>
        </div>
    </div>
</body>
</html>