<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/register.css">
    <title>Movie Ticket Booking</title>
</head>
<body>
    <div class="left-background">
        <header><div class="logo-container"><img src="/frontend/images/logo.png" alt=""></div></header>
        <div class="para">Welcome. <br>
            Begin your cinematic adventure now with our ticketing platform!
        </div>
    </div>
    <div class="regis-site">
        <div class="login-container">
            <div class="title">Create an account</div>
            <form>
                <label for="">
                    <div class="input-text">Email</div>
                    <input type="email" placeholder="Enter your email">
                </label>
                <label for="" class="confirm">
                    <div class="input-text">Password</div>
                    <input type="password" placeholder="Enter your password">
                    <input type="password" placeholder="Confirm your password">
                </label>

                <a href="home2.html" class="login-btn">Create Account</a>
                <p class="regis">Already Have An Account ? <span><a class="log-link" href="login.html">Log In</a></span></p>

                </div>
            </form>
        </div>
    </div>
</body>
</html>