<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="../style/success.css">
    <title>Movie Ticket Booking</title>
</head>

<style>
    body {
        background-image: url(/images/bg.png.png);
    }
</style>

<body>
    <div class="container">
        <h2>Payment Success</h2>
        <div class="tick">
            <div class="circle-load"></div>
            <i class="fa-solid fa-circle-check"></i>
        </div>
        <button class="btn view" id="btn">View Ticket</button>
        <button class="btn back" id="btn">Back to Homepage</button>
    </div>

    <script>
        const ticketItem = JSON.parse(localStorage.getItem('bookingDetails'));

        const newTicket = {
            id: Date.now(), // dùng làm khóa duy nhất
            date: ticketItem.date,
            movie: ticketItem.movie,
            seats: ticketItem.seats,
            time: ticketItem.time
        };

        //Thêm vé mới vào LocalStorage
        let tickets = JSON.parse(localStorage.getItem('tickets')) || [];
        tickets.push(newTicket);
        localStorage.setItem('tickets', JSON.stringify(tickets));

        document.querySelectorAll('.btn').forEach(button => {
            button.addEventListener('click', () => {
                if (button.classList.contains('view')) {
                    window.location.href = '/ticket';
                } else if (button.classList.contains('back')) {
                    window.location.href = '/home';
                }
            });
        });
    </script>
</body>

</html>