<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="../style/ticket.css">
</head>

<style>
    body {
        background-image: url(/images/bg.png.png);
    }
</style>

<body>
    <header>
        <div class="title">Ticket Detail</div>
    </header>

    <div class="container">
        <div class="item">
            <div class="date">
                <div class="text">Date</div>
                <p></p>
            </div>
            <div class="title">
                <div class="text">Movie Title</div>
                <p></p>
            </div>
            <div class="ticket-time">
                <div class="ticket">
                    <div class="text">Ticket (<span>3</span>)</div>
                    <p></p>
                </div>
                <div class="time">
                    <div class="text">Hours</div>
                    <p></p>
                </div>
            </div>
            <div class="download">Download Ticket</div>
        </div>

        <button class="btn back" id="btn">Back to Homepage</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script>
        const ticketItem = JSON.parse(localStorage.getItem('bookingDetails'));

        const newTicket = {
            id: Date.now(), // dùng làm khóa duy nhất
            date: ticketItem.date,
            movie: ticketItem.movie,
            seats: ticketItem.seats,
            time: ticketItem.time
        };

        //Thêm vé mới vào LocalStorage
        let tickets = JSON.parse(localStorage.getItem('tickets')) || [];
        tickets.push(newTicket);
        localStorage.setItem('tickets', JSON.stringify(tickets));

        document.querySelector('.date p').textContent = ticketItem.date;
        document.querySelector('.title p').textContent = ticketItem.movie;
        document.querySelector('.ticket-time .ticket p').textContent = ticketItem.seats;
        document.querySelector('.ticket-time .time p').textContent = ticketItem.time;

        document.getElementById('btn').addEventListener('click', () => {
            window.location.href = 'home'; 
        });

        document.querySelector('.download').addEventListener('click', () => {
            const element = document.querySelector('.item');
            html2pdf().from(element).save('ticket.pdf');
        });

    </script>
</body>
</html>